# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
.mypy_cache/
uv.lock

# Node
node_modules/
js/README.md

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Env
.env

# Runtime
*.sock
*.pid
